<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Mi Familia </title>
</head>
<body>

<h1 style="color:red"> ESTA ES MI FAMILIA: </h1>

<h2 style="color:blue"> {{familiar1Parentesco}}: </h2>
<p> NOMBRE COMPLETO: {{ familiar1Nombre}} {{ familiar1Apellido }}</p>
<p> FECHA DE NACIMIENTO: {{ familiar1Nacimiento}} </p>
<p> EDAD: {{ familiar1Edad}} años </p>


<h2 style="color:yellow"> {{familiar2Parentesco}}: </h2>
<p> NOMBRE COMPLETO: {{ familiar2Nombre}} {{ familiar2Apellido }}</p>
<p> FECHA DE NACIMIENTO: {{ familiar2Nacimiento}} </p>
<p> EDAD: {{ familiar2Edad}} años </p>

<h2 style="color:pink"> {{familiar3Parentesco}}: </h2>
<p> NOMBRE COMPLETO: {{ familiar3Nombre}} {{ familiar3Apellido }}</p>
<p> FECHA DE NACIMIENTO: {{ familiar3Nacimiento}} </p>
<p> EDAD: {{ familiar3Edad}} año </p>


</body>
</html>